@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 188 66% 78%;
		--primary-foreground: 0 0% 14%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;

		--light-gray: #d9d9d9;
		--medium-gray: #979797;
		--dark-gray: #757575;

		--hashtag-blue: #0aa0f5;

		--button-primary: #a3e2ec;
		--button-primary-hover: #95dbe6;

		/* New variables for colors */
		--primary-dark: #501b94;
		--primary-light: rgba(80, 27, 148, 0.7);
		--primary-background: #f0ecff;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.category-btn {
		@apply py-2 px-4 rounded-lg border border-[var(--medium-gray)] flex items-center gap-4 min-h-[88px] cursor-pointer transition ease-in-out duration-150;
	}
	.category-btn:hover {
		@apply bg-[#fafafa] border-2 border-[--primary-dark] text-[--primary-dark];
	}
	.category-btn--active {
		@apply bg-[--primary-background] border-2 border-[--primary-dark] text-[--primary-dark] font-bold;
	}
	.subcategory-btn {
		@apply text-base px-4 pb-1.5 border-b-2 border-[--primary-light] text-base text-center cursor-pointer;
	}
	.subcategory-btn:hover {
		@apply text-[--primary-dark] cursor-pointer;
	}
	.subcategory-btn--active {
		@apply font-bold text-[--primary-dark] border-[--primary-dark];
	}
}
